<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/nav.css">
    <link rel="stylesheet" href="../public/styles/footer.css">
    <link rel="stylesheet" href="../public/styles/about.css">
    <title>About | DigitranIT</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">
                <a href="../index.html"><img src="../public/images/logos/logo.jpg" alt="" /></a>
            </div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="./main-page.html">Home</a></li>
                    <li><a class="about" href="./about.html">About</a></li>
                    <li class="services"><a href="./service.html">Services</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </div>
            </ul>
            <ul class="ul-social-icons">
                <li>
                    <a class="button-social-media" href="https://www.facebook.com/profile.php?id=100072822087652"
                        target="_blank">
                        <div class="social-icons-atag social-icons-atag-facebook"></div>
                    </a>
                </li>
                <li>
                    <a class="button-social-media"
                        href="https://www.linkedin.com/in/digitranit-software-solutions-private-limited-a11783221"
                        target="_blank">
                        <div class="social-icons-atag social-icons-atag-linkedin"></div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>


    <section class="about-us-section">
        <div class="top-section">
            <h3>DigitranIT</h3>
            <div class="span-top-section">
                <span></span>
                <h1>Digitally Simple</h1>
                <span></span>
            </div>
            <div class="button-top-section">
                <a class="button-one-top-section" href="./service.html">Our Services</a>
                <a class="button-two-top-section" href="./contact.html">Contact Us</a>
            </div>
        </div>
    </section>


    <section class="second-about-us-section">
        <div class="main-second-section-div">
            <div class="left-side-about-us-div">
                <div class="left-side-content-about">
                    <p class="left-side-first-ptag">About Us</p>
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore eveniet quae natus sapiente
                        sunt,
                        est placeat, deserunt ut delectus, similique sit incidunt. Porro, consectetur rerum? Molestiae,
                        tenetur ratione? Inventore, rem?</p>
                    <a class="left-side-atag" href="/">Read More</a>
                </div>
            </div>
            <div class="right-side-about-us-div">
                <div class="right-side-about-image-div">
                    <div class="right-side-about-one"></div>
                    <div class="right-side-about-two"></div>
                    <div class="right-side-about-three"></div>
                </div>
            </div>
        </div>
    </section>



    <section class="we-provide-section">
        <div class="div-we-provide-content">
            <h1>What <b>W<span>E PR</span>OVIDE</h1></b>
            <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam natus vel perferendis. Laudantium
                delectus saepe, nesciunt deserunt quas tempore accusamus libero culpa adipisci, sapiente voluptate
                nostrum, quaerat doloremque esse rem!</p> -->
        </div>
        <div class="parent-div-we-provide">

            <div class="we-provide-div we-provide-div1">
                <div class="we-provide-maindiv we-provide-maindiv1">
                    <div class="we-provide-div-img">
                        <img
                            src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
                    </div>
                    <span></span>
                    <div class="we-provide-div-content">
                        <h1 class="glowing-heading">Adding value to your company through our experience and expertise
                        </h1>
                        <!-- <a class="flip-button flip-button1">Read More</a> -->
                    </div>
                </div>
                <div class="flip-we-provide-div flip-we-provide-div1">
                    <p>With our results-oriented problem-solving approach, we harness the knowledge and expertise we've
                        gathered over the years to lead our customers through any obstacles they may face. We are
                        committed to providing high-quality solutions at a reasonable cost to consumers from all walks
                        of life. We make certain that our clients remain on top of technical progress, allowing them to
                        improve their company procedures.</p>
                    <!-- <a class="flip-button flip-button1">Read Less</a> -->

                </div>
            </div>
            <div class="we-provide-div we-provide-div2">
                <div class="we-provide-maindiv we-provide-maindiv2">
                    <div class="we-provide-div-img">
                        <img
                            src="https://images.unsplash.com/photo-1506538719135-b73e644da2c7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" />
                    </div>
                    <span></span>
                    <div class="we-provide-div-content">
                        <h1 class="glowing-heading">Our Merit</h1>
                        <!-- <a class="flip-button flip-button2">Read More</a> -->
                    </div>
                </div>
                <div class="flip-we-provide-div flip-we-provide-div2">
                    <p>We intend to develop honest connections with all of our clients. This entails maintaining a high
                        degree of transparency in all procedures, maintaining cordial relationships, and always being
                        available to you. All of our personnel are not only trained in the art of growth, but also in
                        giving our clients an exciting experience. When it comes to the goods and services we provide,
                        we set a high standard for offering high-quality solutions that move your business forward. We
                        are dedicated to being on the bleeding edge of technology, and we want our clients to do the
                        same.</p>
                    <!-- <a class="flip-button flip-button2">Read Less</a> -->

                </div>
            </div>
            <div class="we-provide-div we-provide-div3">
                <div class="we-provide-maindiv we-provide-maindiv3">
                    <div class="we-provide-div-img">
                        <img
                            src="https://images.unsplash.com/photo-1542574653559-04b147cfda45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=867&q=80" />
                    </div>
                    <span></span>
                    <div class="we-provide-div-content">
                        <h1 class="glowing-heading">Our implication</h1>
                        <!-- <a class="flip-button flip-button3">Read More</a> -->
                    </div>
                </div>
                <div class="flip-we-provide-div flip-we-provide-div3">
                    <p>When you work with DigiTranIT, you acquire more than just a developer; you also get a partner. We
                        will help you through each and every step along the way with your best interests in mind. We
                        understand how unsettled one might feel at the outset of a new adventure, and we do everything
                        we can to make our customers feel as at ease and confident as possible. </p>
                    <!-- <a class="flip-button flip-button3">Read Less</a> -->

                </div>
            </div>
        </div>
    </section>



    <!-- <section class="about-us-technology-section">
        <div class="about-us-technology-section-content">
            <h1>WHY CORE <b>T<span>ECHN</span>OLOGY?</b></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dignissimos aliquam impedit nemo,
                consequatur qui corporis vitae pariatur sed suscipit quidem commodi, iure, optio exercitationem nostrum
                dolorum delectus ducimus itaque?</p>
        </div>
        <div class="about-us-technology-div-parent">
            <div class="about-us-technology-div">
                <div class="about-us-border-div">
                    <div class="div1"></div>
                    <div class="div2"></div>
                    <div class="div3"></div>
                    <div class="div4"></div>
                </div>
                <div class="about-technology-content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem nostrum perferendis ab nobis illum
                    consequuntur recusandae quia blanditiis, natus ex fuga exercitationem voluptates aspernatur
                    voluptatum. Incidunt provident voluptates voluptatem quos.
                </div>
            </div>
            <div class="about-us-technology-div">
                <div class="about-us-border-div">
                    <div class="div1"></div>
                    <div class="div2"></div>
                    <div class="div3"></div>
                    <div class="div4"></div>
                </div>
                <div class="about-technology-content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem nostrum perferendis ab nobis illum
                    consequuntur recusandae quia blanditiis, natus ex fuga exercitationem voluptates aspernatur
                    voluptatum. Incidunt provident voluptates voluptatem quos.
                </div>
            </div>
            <div class="about-us-technology-div">
                <div class="about-us-border-div">
                    <div class="div1"></div>
                    <div class="div2"></div>
                    <div class="div3"></div>
                    <div class="div4"></div>
                </div>
                <div class="about-technology-content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem nostrum perferendis ab nobis illum
                    consequuntur recusandae quia blanditiis, natus ex fuga exercitationem voluptates aspernatur
                    voluptatum. Incidunt provident voluptates voluptatem quos.
                </div>
            </div>
        </div>
    </section> -->



    <!-- <section class="footer-first-section"></section> -->


    <footer>
        <div class="footer">
            <div class="footer-nav">
                <h1>Header</h1>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./service.html">Services</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-social-networks">
                <h1>Contact us through</h1>
                <ul class="footer-social-ul">
                    <li><a href=""><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" /></a></li>
                    <li><a href=""><img src="https://img.icons8.com/color/48/000000/facebook-new.png" /></a></li>
                    <li><a href=""><img src="https://img.icons8.com/fluency/48/000000/linkedin.png" /></a></li>
                </ul>
            </div>
        </div>
    </footer>




    <script src="../public/script/nav.js"></script>
    <script src="../public/script/about.js"></script>

</body>

</html>