<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/nav.css">
    <link rel="stylesheet" href="../public/styles/footer.css">
    <link rel="stylesheet" href="../public/styles/about.css">
    <title>About | DigitranIT</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">
                <a href="../index.html"><img src="../public/images/logos/logo.jpg" alt="" /></a>
            </div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="./main-page.html">Home</a></li>
                    <li><a class="about" href="./about.html">About</a></li>
                    <li class="services">
                        <a>Services</a>
                        <!-- DROPDOWN MENU -->
                        <ul class="dropdown">
                            <li><a href="/">Development </a></li>
                            <li><a href="/">Robotics</a></li>
                            <li><a href="/">Modelling</a></li>
                            <li><a href="/">Cloud</a></li>
                        </ul>
                    </li>
                    <li><a href="/">Careers</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </div>
            </ul>
            <ul class="ul-social-icons">
                <li>
                    <a class="button-social-media" href="https://www.facebook.com/profile.php?id=100072822087652"
                        target="_blank">
                        <div class="social-icons-atag social-icons-atag-facebook"></div>
                    </a>
                </li>
                <li>
                    <a class="button-social-media"
                        href="https://www.linkedin.com/in/digitranit-software-solutions-private-limited-a11783221"
                        target="_blank">
                        <div class="social-icons-atag social-icons-atag-linkedin"></div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>


    <section class="about-us-section">
        <div class="top-section">
            <h3>DigitranIT</h3>
            <div class="span-top-section">
                <span></span>
                <h1>Digitally Simple</h1>
                <span></span>
            </div>
            <div class="button-top-section">
                <a class="button-one-top-section" href="/">Button1</a>
                <a class="button-two-top-section" href="/">Button2</a>
            </div>
        </div>
    </section>


    <section class="second-about-us-section">
        <div class="main-second-section-div">
            <div class="left-side-about-us-div">
                <div class="left-side-content-about">
                    <p class="left-side-first-ptag">About Us</p>
                    <h1>Lorem ipsum dolor sit amet</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore eveniet quae natus sapiente
                        sunt,
                        est placeat, deserunt ut delectus, similique sit incidunt. Porro, consectetur rerum? Molestiae,
                        tenetur ratione? Inventore, rem?</p>
                    <a class="left-side-atag" href="/">Read More</a>
                </div>
            </div>
            <div class="right-side-about-us-div">
                <div class="right-side-about-image-div">
                    <div class="right-side-about-one"></div>
                    <div class="right-side-about-two"></div>
                    <div class="right-side-about-three"></div>
                </div>
            </div>
        </div>
    </section>



    <section class="we-provide-section">
        <div class="div-we-provide-content">
            <h1>What <b>W<span>E PR</span>OVIDE</h1></b>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam natus vel perferendis. Laudantium
                delectus saepe, nesciunt deserunt quas tempore accusamus libero culpa adipisci, sapiente voluptate
                nostrum, quaerat doloremque esse rem!</p>
        </div>
        <div class="parent-div-we-provide">
            <div class="we-provide-div">
                <div class="we-provide-div-img">
                    <img src="https://img.icons8.com/office/80/000000/services--v2.png" />
                </div>
                <span></span>
                <div class="we-provide-div-content">
                    <h1>Lorem ipsum dolor sit</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam natus vel perferendis.</p>
                    <a href="">Learn More</a>
                </div>
            </div>
            <div class="we-provide-div">
                <div class="we-provide-div-img">
                    <img src="https://img.icons8.com/office/80/000000/services--v2.png" />
                </div>
                <span></span>
                <div class="we-provide-div-content">
                    <h1>Lorem ipsum dolor sit</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam natus vel perferendis.</p>
                    <a href="">Learn More</a>
                </div>
            </div>
            <div class="we-provide-div">
                <div class="we-provide-div-img">
                    <img src="https://img.icons8.com/office/80/000000/services--v2.png" />
                </div>
                <span></span>
                <div class="we-provide-div-content">
                    <h1>Lorem ipsum dolor sit</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam natus vel perferendis.</p>
                    <a href="">Learn More</a>
                </div>
            </div>
            <div class="we-provide-div">
                <div class="we-provide-div-img">
                    <img src="https://img.icons8.com/office/80/000000/services--v2.png" />
                </div>
                <span></span>
                <div class="we-provide-div-content">
                    <h1>Lorem ipsum dolor sit</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam natus vel perferendis.</p>
                    <a href="">Learn More</a>
                </div>
            </div>
            <div class="we-provide-div">
                <div class="we-provide-div-img">
                    <img src="https://img.icons8.com/office/80/000000/services--v2.png" />
                </div>
                <span></span>
                <div class="we-provide-div-content">
                    <h1>Lorem ipsum dolor sit</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam natus vel perferendis.</p>
                    <a href="">Learn More</a>
                </div>
            </div>
            <div class="we-provide-div">
                <div class="we-provide-div-img">
                    <img src="https://img.icons8.com/office/80/000000/services--v2.png" />
                </div>
                <span></span>
                <div class="we-provide-div-content">
                    <h1>Lorem ipsum dolor sit</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam natus vel perferendis.</p>
                    <a href="">Learn More</a>
                </div>
            </div>
        </div>
    </section>



    <section class="about-us-technology-section">
        <div class="about-us-technology-section-content">
            <h1>WHY CORE <b>T<span>ECHN</span>OLOGY?</b></h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dignissimos aliquam impedit nemo,
                consequatur qui corporis vitae pariatur sed suscipit quidem commodi, iure, optio exercitationem nostrum
                dolorum delectus ducimus itaque?</p>
        </div>
        <div class="about-us-technology-div-parent">
            <div class="about-us-technology-div">
                <div class="about-us-border-div">
                    <div class="div1"></div>
                    <div class="div2"></div>
                    <div class="div3"></div>
                    <div class="div4"></div>
                </div>
                <div class="about-technology-content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem nostrum perferendis ab nobis illum consequuntur recusandae quia blanditiis, natus ex fuga exercitationem voluptates aspernatur voluptatum. Incidunt provident voluptates voluptatem quos.
                </div>
            </div>
            <div class="about-us-technology-div">
                <div class="about-us-border-div">
                    <div class="div1"></div>
                    <div class="div2"></div>
                    <div class="div3"></div>
                    <div class="div4"></div>
                </div>
                <div class="about-technology-content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem nostrum perferendis ab nobis illum consequuntur recusandae quia blanditiis, natus ex fuga exercitationem voluptates aspernatur voluptatum. Incidunt provident voluptates voluptatem quos.
                </div>
            </div>
            <div class="about-us-technology-div">
                <div class="about-us-border-div">
                    <div class="div1"></div>
                    <div class="div2"></div>
                    <div class="div3"></div>
                    <div class="div4"></div>
                </div>
                <div class="about-technology-content">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem nostrum perferendis ab nobis illum consequuntur recusandae quia blanditiis, natus ex fuga exercitationem voluptates aspernatur voluptatum. Incidunt provident voluptates voluptatem quos.
                </div>
            </div>
        </div>
    </section>



    <!-- <section class="footer-first-section"></section> -->


    <footer>
        <div class="footer">
            <div class="footer-nav">
                <h1>Header</h1>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="footer-social-networks">
                <h1>Contact us through</h1>
                <ul class="footer-social-ul">
                    <li><a href=""><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" /></a></li>
                    <li><a href=""><img src="https://img.icons8.com/color/48/000000/facebook-new.png" /></a></li>
                    <li><a href=""><img src="https://img.icons8.com/fluency/48/000000/linkedin.png" /></a></li>
                </ul>
            </div>
        </div>
    </footer>




    <script src="../public/script/nav.js"></script>

</body>

</html>