<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/nav.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="../public/styles/footer.css">
    <link rel="stylesheet" href="../public/styles/swiper.css">
    <link rel="stylesheet" href="../public/styles/main-page.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">
                <a href="../index.html"><img src="../public/images/logos/logo.jpg" alt="" /></a>
            </div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="./main-page.html">Home</a></li>
                    <li><a class="about" href="./about.html">About</a></li>
                    <li class="services"><a href="./service.html">Services</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </div>
            </ul>
            <ul class="ul-social-icons">
                <li>
                    <a class="button-social-media" href="https://www.facebook.com/profile.php?id=100072822087652"
                        target="_blank">
                        <div class="social-icons-atag social-icons-atag-facebook"></div>
                    </a>
                </li>
                <li>
                    <a class="button-social-media"
                        href="https://www.linkedin.com/in/digitranit-software-solutions-private-limited-a11783221"
                        target="_blank">
                        <div class="social-icons-atag social-icons-atag-linkedin"></div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>


    <section class="main-section-home">
        <div class="first-div-video">
            <video autoplay muted loop>
                <source src="../public/images/img/video-section-main.mp4">
                <video>
        </div>
        <div class="content-main-div">
            <h1>Unleash your full potential in all directions.</h1>
        </div>
    </section>




    <section class="card-animation">
        <div class="main-card-div">
            <div class="cursor">Glance at</div>
            <div class="card-div">
                <div class="card-div-image card-div-image-one">
                    <img src="https://www.accenture.com/_acnmedia/Thought-Leadership-Assets/Images/Optimized/Accenture-Building-mergers-400x400"
                        alt="">
                </div>
                <div class="card-div-content">
                    <h1>Integrity</h1>
                    <p>Integrity is as important to us as it is to you. We strive to provide highly ethical services in
                        every sense. We believe in building lasting relationships with our clients in the best way we
                        know.
                    </p>
                </div>
            </div>
            <div class="card-div">
                <div class="card-div-image card-div-image-two">
                    <img src="https://www.accenture.com/_acnmedia/Thought-Leadership-Assets/Images/Optimized/Accenture-Automation-advantage-400x400"
                        alt="">
                </div>
                <div class="card-div-content">
                    <h1>Integrity</h1>
                    <p>Integrity is as important to us as it is to you. We strive to provide highly ethical services in
                        every sense. We believe in building lasting relationships with our clients in the best way we
                        know.
                    </p>
                </div>
            </div>
            <div class="card-div">
                <div class="card-div-image card-div-image-three">
                    <img src="https://www.accenture.com/_acnmedia/Thought-Leadership-Assets/Images/Optimized/Accenture-Big-Sustainability-UNGC"
                        alt="">
                </div>
                <div class="card-div-content">
                    <h1>Integrity</h1>
                    <p>Integrity is as important to us as it is to you. We strive to provide highly ethical services in
                        every sense. We believe in building lasting relationships with our clients in the best way we
                        know.
                    </p>
                </div>
            </div>
            <div class="card-div">
                <div class="card-div-image card-div-image-four">
                    <img src="https://www.accenture.com/_acnmedia/Thought-Leadership-Assets/Images/Optimized/Accenture-Banking-cloud-altimeter-400x400"
                        alt="">
                </div>
                <div class="card-div-content">
                    <h1>Integrity</h1>
                    <p>Integrity is as important to us as it is to you. We strive to provide highly ethical services in
                        every sense. We believe in building lasting relationships with our clients in the best way we
                        know.
                    </p>
                </div>
            </div>
        </div>
    </section>






    <section class="section-main">
        <div class="swiper mySwiper">
            <div class="active-swiper-bg"></div>
            <div class="swiper-wrapper">
                <div class="swiper-slide web-development">
                    <div class="swiper-slide">
                        <div class="swiper-main-div">
                            <div class="swiper-image-div">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1AbcAaG04BKSUiJP6XXssN2ZpVvSUdV4xdQ&usqp=CAU"
                                    alt="">
                            </div>
                            <div class="swiper-content-div">
                                <h1>Web development and Mobile application</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide robotics">
                    <div class="swiper-slide">
                        <div class="swiper-main-div">
                            <div class="swiper-image-div">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1AbcAaG04BKSUiJP6XXssN2ZpVvSUdV4xdQ&usqp=CAU"
                                    alt="">
                            </div>
                            <div class="swiper-content-div">
                                <h1>Robotics process automatic</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide modeling">
                    <div class="swiper-slide">
                        <div class="swiper-main-div">
                            <div class="swiper-image-div">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1AbcAaG04BKSUiJP6XXssN2ZpVvSUdV4xdQ&usqp=CAU"
                                    alt="">
                            </div>
                            <div class="swiper-content-div">
                                <h1>Modeling and automation</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide cloud-migration">
                    <div class="swiper-slide">
                        <div class="swiper-main-div">
                            <div class="swiper-image-div">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1AbcAaG04BKSUiJP6XXssN2ZpVvSUdV4xdQ&usqp=CAU"
                                    alt="">
                            </div>
                            <div class="swiper-content-div">
                                <h1>Cloud Migration</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide niche-skills">
                    <div class="swiper-slide">
                        <div class="swiper-main-div">
                            <div class="swiper-image-div">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1AbcAaG04BKSUiJP6XXssN2ZpVvSUdV4xdQ&usqp=CAU"
                                    alt="">
                            </div>
                            <div class="swiper-content-div">
                                <h1>Niche skills resourcing</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-slide digital-transformation">
                    <div class="swiper-slide">
                        <div class="swiper-main-div">
                            <div class="swiper-image-div">
                                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1AbcAaG04BKSUiJP6XXssN2ZpVvSUdV4xdQ&usqp=CAU"
                                    alt="">
                            </div>
                            <div class="swiper-content-div">
                                <h1>Digital transformation</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-pagination"></div>
        </div>
    </section>



    <footer>
        <div class="footer">
            <div class="footer-nav">
                <h1>Header</h1>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./service.html">Services</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-social-networks">
                <h1>Contact us through</h1>
                <ul class="footer-social-ul">
                    <li><a href=""><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" /></a></li>
                    <li><a href=""><img src="https://img.icons8.com/color/48/000000/facebook-new.png" /></a></li>
                    <li><a href=""><img src="https://img.icons8.com/fluency/48/000000/linkedin.png" /></a></li>
                </ul>
            </div>
        </div>
    </footer>



    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="../public/script/cursor.js"></script>
    <script src="../public/script/nav.js"></script>
    <script src="../public/script/mainPage.js"></script>


</body>

</html>