<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/nav.css">
    <link rel="stylesheet" href="../public/styles/main-page.css">
    <title>Home</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">
                <a href="../index.html"><img src="../public/images/logos/logo.jpg" alt="" /></a>
            </div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="./main-page.html">Home</a></li>
                    <li><a class="about" href="/">About</a></li>
                    <li class="services">
                        <a>Services</a>
                        <!-- DROPDOWN MENU -->
                        <ul class="dropdown">
                            <li><a href="/">Development </a></li>
                            <li><a href="/">Robotics</a></li>
                            <li><a href="/">Modelling</a></li>
                            <li><a href="/">Cloud</a></li>
                        </ul>
                    </li>
                    <li><a href="/">Careers</a></li>
                    <li><a href="/">Contact</a></li>
                </div>
            </ul>
            <ul class="ul-social-icons">
                <li>
                    <a class="button-social-media" href="https://www.facebook.com/profile.php?id=100072822087652"
                        target="_blank"><img draggable="false"
                            src="https://img.icons8.com/ios-glyphs/30/000000/facebook.png" /></a>
                </li>
                <li>
                    <a class="button-social-media"
                        href="https://www.linkedin.com/in/digitranit-software-solutions-private-limited-a11783221"
                        target="_blank"><img draggable="false"
                            src="https://img.icons8.com/ios-glyphs/30/000000/linkedin.png" /></a>
                </li>
            </ul>
        </nav>
    </header>


    <section class="main-section-home">
        <div class="first-div-video">
            <video autoplay muted loop>
                <source src="../public/images/img/video-section-main.mp4">
                <video>
        </div>
        <div class="content-main-div">
            <h1>Unleash your full potential in all directions.</h1>
        </div>
    </section>




    <section class="card-animation">
        <div class="main-card-div">
            <div class="card-div">
                <div class="card-div-image card-div-image-one">
                    <img src="https://www.accenture.com/_acnmedia/Thought-Leadership-Assets/Images/Optimized/Accenture-Building-mergers-400x400" alt="">
                </div>
                <div class="card-div-content">
                    <h1>Integrity</h1>
                    <p>Integrity is as important to us as it is to you. We strive to provide highly ethical services in
                        every sense. We believe in building lasting relationships with our clients in the best way we
                        know.
                    </p>
                </div>
            </div>
            <div class="card-div">
                <div class="card-div-image card-div-image-two">
                    <img src="https://www.accenture.com/_acnmedia/Thought-Leadership-Assets/Images/Optimized/Accenture-Automation-advantage-400x400" alt="">
                </div>
                <div class="card-div-content">
                    <h1>Integrity</h1>
                    <p>Integrity is as important to us as it is to you. We strive to provide highly ethical services in
                        every sense. We believe in building lasting relationships with our clients in the best way we
                        know.
                    </p>
                </div>
            </div>
            <div class="card-div">
                <div class="card-div-image card-div-image-three">
                    <img src="https://www.accenture.com/_acnmedia/Thought-Leadership-Assets/Images/Optimized/Accenture-Big-Sustainability-UNGC" alt="">
                </div>
                <div class="card-div-content">
                    <h1>Integrity</h1>
                    <p>Integrity is as important to us as it is to you. We strive to provide highly ethical services in
                        every sense. We believe in building lasting relationships with our clients in the best way we
                        know.
                    </p>
                </div>
            </div>
            <div class="card-div">
                <div class="card-div-image card-div-image-four">
                    <img src="https://www.accenture.com/_acnmedia/Thought-Leadership-Assets/Images/Optimized/Accenture-Banking-cloud-altimeter-400x400" alt="">
                </div>
                <div class="card-div-content">
                    <h1>Integrity</h1>
                    <p>Integrity is as important to us as it is to you. We strive to provide highly ethical services in
                        every sense. We believe in building lasting relationships with our clients in the best way we
                        know.
                    </p>
                </div>
            </div>
        </div>
    </section>









</body>

</html>