<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="../public/styles/nav.css" />
		<link rel="stylesheet" href="../public/styles/parallax.css" />
		<title>Digitran IT</title>
	</head>
	<body>
		<header>
			<nav class="navbar">
				<!-- LOGO -->
				<div class="logo">
					<a href="./parallax.html"
						><img src="../public/images/logos/logo.jpg" alt=""
					/></a>
				</div>
				<!-- NAVIGATION MENU -->
				<ul class="nav-links">
					<!-- USING CHECKBOX HACK -->
					<input type="checkbox" id="checkbox_toggle" />
					<label for="checkbox_toggle" class="hamburger">&#9776;</label>
					<!-- NAVIGATION MENUS -->
					<div class="menu">
						<li><a href="/">Home</a></li>
						<li><a href="./about.html">About</a></li>
						<li class="services">
							<a>Services</a>
							<!-- DROPDOWN MENU -->
							<ul class="dropdown">
								<li><a href="./home.html">Home</a></li>
								<li><a href="/">Development </a></li>
								<li><a href="/">Robotics</a></li>
								<li><a href="/">Modelling</a></li>
								<li><a href="/">Cloud</a></li>
							</ul>
						</li>
						<li><a href="/">Careers</a></li>
						<li><a href="/">Contact</a></li>
					</div>
				</ul>
				<ul class="ul-social-icons">
					<li>
						<a
							class="button-social-media"
							href="https://www.facebook.com/profile.php?id=100072822087652"
							target="_blank"
							><img
								draggable="false"
								src="https://img.icons8.com/ios-glyphs/30/ffffff/facebook.png"
						/></a>
					</li>
					<li>
						<a
							class="button-social-media"
							href="https://www.linkedin.com/in/digitranit-software-solutions-private-limited-a11783221"
							target="_blank"
							><img
								draggable="false"
								src="https://img.icons8.com/ios-glyphs/30/ffffff/linkedin.png"
						/></a>
					</li>
				</ul>
			</nav>
		</header>
		<section class="d-effect">
			<div class="d"></div>
		</section>
		<section class="second"></section>

		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/gsap.min.js"
			integrity="sha512-eP6ippJojIKXKO8EPLtsUMS+/sAGHGo1UN/38swqZa1ypfcD4I0V/ac5G3VzaHfDaklFmQLEs51lhkkVaqg60Q=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.8.0/ScrollTrigger.min.js"
			integrity="sha512-CPA5LMoJI/a5HkSIAKcBtFXe4gqGjPUL2ExF/3PmhrrHI17wod9xOqqF+0WZQRKIIq0KwF8oG5BaiWobtrke3A=="
			crossorigin="anonymous"
			referrerpolicy="no-referrer"
		></script>
		<script src="../public/script/home.js"></script>
	</body>
</html>
