<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/footer.css">
    <link rel="stylesheet" href="../public/styles/nav.css">
    <link rel="stylesheet" href="../public/styles/service.css">
    <title>Services | DigitranIT</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">
                <a href="../index.html"><img draggable="false" src="../public/images/logos/logo.jpg" alt="" /></a>
            </div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="./main-page.html">Home</a></li>
                    <li><a class="about" href="./about.html">About</a></li>
                    <li class="services"><a href="./service.html">Services</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </div>
            </ul>
            <ul class="ul-social-icons">
                <li>
                    <a class="button-social-media" href="https://www.facebook.com/profile.php?id=100072822087652"
                        target="_blank">
                        <div class="social-icons-atag social-icons-atag-facebook"></div>
                    </a>
                </li>
                <li>
                    <a class="button-social-media"
                        href="https://www.linkedin.com/in/digitranit-software-solutions-private-limited-a11783221"
                        target="_blank">
                        <div class="social-icons-atag social-icons-atag-linkedin"></div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>


    <section class="first-section-services">
        <div class="main-parent-div">
            <div class="left-main-div-services">
                <p class="left-services"><b>We are your ally, not just your developer</b><br>Always be on the lookout
                    for new
                    opportunities</p>
            </div>
            <div class="right-main-div-services">
                <div class="first-service-block service-block">
                    <img
                        src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/100/000000/external-building-wonder-of-the-world-vitaliy-gorbachev-blue-vitaly-gorbachev-1.png" />
                    <h3>WEB DEVELOPMENT AND MOBILE APPLICATION</h3>
                </div>
                <div class="second-service-block service-block">
                    <img
                        src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/100/000000/external-building-wonder-of-the-world-vitaliy-gorbachev-blue-vitaly-gorbachev-1.png" />
                    <h3>ROBOTICS PROCESS AUTOMATIC</h3>
                </div>
                <div class="third-service-block service-block">
                    <img
                        src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/100/000000/external-building-wonder-of-the-world-vitaliy-gorbachev-blue-vitaly-gorbachev-1.png" />
                    <h3>BUSINESS PROCESS MODELLING AND AUTOMATION</h3>
                </div>
                <div class="forth-service-block service-block">
                    <img
                        src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/100/000000/external-building-wonder-of-the-world-vitaliy-gorbachev-blue-vitaly-gorbachev-1.png" />
                    <h3>CLOUD MIGRATION</h3>
                </div>
                <div class="fifth-service-block service-block">
                    <img
                        src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/100/000000/external-building-wonder-of-the-world-vitaliy-gorbachev-blue-vitaly-gorbachev-1.png" />
                    <h3>NICHE SKILLS RESOURCING</h3>
                </div>
                <div class="sixth-service-block service-block">
                    <img
                        src="https://img.icons8.com/external-vitaliy-gorbachev-blue-vitaly-gorbachev/100/000000/external-building-wonder-of-the-world-vitaliy-gorbachev-blue-vitaly-gorbachev-1.png" />
                    <h3>DIGITAL TRANSFORMATION</h3>
                </div>
            </div>
        </div>
    </section>


    <footer>
        <div class="footer">
            <div class="footer-nav">
                <h1>Header</h1>
                <ul>
                    <li><a href="../index.html">Home</a></li>
                    <li><a href="./about.html">About</a></li>
                    <li><a href="./service.html">Services</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </ul>
            </div>
            <div class="footer-social-networks">
                <h1>Contact us through</h1>
                <ul class="footer-social-ul">
                    <li><a href=""><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" /></a></li>
                    <li><a href=""><img src="https://img.icons8.com/color/48/000000/facebook-new.png" /></a></li>
                    <li><a href=""><img src="https://img.icons8.com/fluency/48/000000/linkedin.png" /></a></li>
                </ul>
            </div>
        </div>
    </footer>



    <script src="../public/script/nav.js"></script>
    <script src="../public/script/service.js"></script>
</body>

</html>