<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/styles/nav.css">
    <link rel="stylesheet" href="../public/styles/footer.css">
    <link rel="stylesheet" href="../public/styles/summa.css">
    <title>About | DigitranIT</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <!-- LOGO -->
            <div class="logo">
                <!-- <a href="../index.html"><img src="../public/images/logos/logo.jpg" alt="" /></a> -->
                <p>Digitran IT</p>
            </div>
            <!-- NAVIGATION MENU -->
            <ul class="nav-links">
                <!-- USING CHECKBOX HACK -->
                <input type="checkbox" id="checkbox_toggle" />
                <label for="checkbox_toggle" class="hamburger">&#9776;</label>
                <!-- NAVIGATION MENUS -->
                <div class="menu">
                    <li><a href="./main-page.html">Home</a></li>
                    <li><a class="about" href="./about.html">About</a></li>
                    <li class="services">
                        <a>Services</a>
                        <!-- DROPDOWN MENU -->
                        <ul class="dropdown">
                            <li><a href="/">Development </a></li>
                            <li><a href="/">Robotics</a></li>
                            <li><a href="/">Modelling</a></li>
                            <li><a href="/">Cloud</a></li>
                        </ul>
                    </li>
                    <li><a href="/">Careers</a></li>
                    <li><a href="./contact.html">Contact</a></li>
                </div>
            </ul>
            <ul class="ul-social-icons">
                <li>
                    <a class="button-social-media" href="https://www.facebook.com/profile.php?id=100072822087652"
                        target="_blank">
                        <div class="social-icons-atag social-icons-atag-facebook"></div>
                    </a>
                </li>
                <li>
                    <a class="button-social-media"
                        href="https://www.linkedin.com/in/digitranit-software-solutions-private-limited-a11783221"
                        target="_blank">
                        <div class="social-icons-atag social-icons-atag-linkedin"></div>
                    </a>
                </li>
            </ul>
        </nav>
    </header>





    <section class="about-section">
        <div class="main-about-div">
            <div class="left-side-about-div">
                <h1>About us</h1>
                <h2>We are pioneers in the art of helping you</h2>
                <p>DigiTranIT specialises in developing cutting-edge app and blockchain development solutions that
                    outshine the competition. We are the one-stop-shop for all your developing quality matters to our
                    extensive understanding of the business and a team of highly qualified specialists who can handle
                    everything from development to marketing, support, and beyond. We have the resources and knowledge
                    to bring your vision to life, whether it's a white - label solution or a truly personalized software
                    built from the ground up. Contact us today to take the first step toward a thriving business.</p>
                <button class="glow-on-hover">Contact Us</button>
            </div>
            <div class="right-side-about-div">
                <div class="right-side-main-div">
                    <div class="image-right">
                        <div class="image-right-one"></div>
                    </div>
                    <div class="image-content">
                        <h2>Adding value to your company through our experience and expertise</h2>
                        <p>With our results-oriented problem-solving approach, we harness the knowledge and expertise
                            we've gathered over the years to lead our customers through any obstacles they may face. We
                            are committed to providing high-quality solutions at a reasonable cost to consumers from all
                            walks of life. We make certain that our clients remain on top of technical progress,
                            allowing them to improve their company procedures.
                        </p>
                    </div>
                </div>
                <div class="right-side-main-div">

                    <div class="image-content">
                        <h2>Our Merit</h2>
                        <p>We intend to develop honest connections with all of our clients. This entails maintaining a
                            high degree of transparency in all procedures, maintaining cordial relationships, and always
                            being available to you. All of our personnel are not only trained in the art of growth, but
                            also in giving our clients with an exciting experience. When it comes to the goods and
                            services we provide, we set a high standard for offering high-quality solutions that move
                            your business forward. We are dedicated to being on the bleeding edge of technology, and we
                            want our clients to do the same.
                        </p>
                    </div>
                    <div class="image-right">
                        <div class="image-right-two"></div>
                    </div>
                </div>
                <div class="right-side-main-div">
                    <div class="image-right">
                        <div class="image-right-three"></div>
                    </div>
                    <div class="image-content">
                        <h2>Our implication</h2>
                        <p>When you work with DigiTranIT, you acquire more than just a developer; you also get a
                            partner. We will help you through each and every step along the way with your best interests
                            in mind. We understand how unsettled one might feel at the outset of a new adventure, and we
                            do everything we can to make our customers feel as at ease and confident as possible.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>












    <footer>
        <div class="footer">
            <div class="footer-nav">
                <h1>Header</h1>
                <ul>
                    <li><a href="">Home</a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Services</a></li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </div>
            <div class="footer-social-networks">
                <h1>Contact us through</h1>
                <ul class="footer-social-ul">
                    <li><a href=""><img src="https://img.icons8.com/fluency/48/000000/instagram-new.png" /></a></li>
                    <li><a href=""><img src="https://img.icons8.com/color/48/000000/facebook-new.png" /></a></li>
                    <li><a href=""><img src="https://img.icons8.com/fluency/48/000000/linkedin.png" /></a></li>
                </ul>
            </div>
        </div>
    </footer>





    <script src="../public/script/nav.js"></script>
</body>

</html>


