footer {
  width: 100%;
  /* height: 30vh; */
  background: rgb(41, 41, 41);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.footer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer h1 {
  color: rgba(255, 255, 255, 0.329);
  font-size: 30px;
  margin: 1%;
}


.footer a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.781);
  padding: 1%;
  font-size: 23px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-social-networks {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer ul {
  width: 100%;
  height: 100%;
  list-style-type: none;
  display: flex;
}

footer ul li {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.footer-social-ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 50%;
}
