* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cursor
{
  display: none;
  width: 5rem;
  height: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 50%;
  background-color: rgba(53, 132, 223, 0.774);
  position: absolute;
  z-index: 10000;
}

.cursor.cursor-active
{
  display: flex;
}

.main-section-home {
  width: 100%;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.first-div-video {
  position: relative;
  width: 100%;
  height: 100%;
}
.first-div-video video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.first-div-video::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* z-index: -1; */
}

.content-main-div {
  position: absolute;
  z-index: 4;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content-main-div h1 {
  font-size: 50px;
  font-weight: bold;
  width: 75%;
  z-index: 2;
  text-shadow: 5px 5px rgb(65, 65, 65);
}

/* card-animation */

.card-animation {
  width: 100%;
}

.main-card-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0% 10%;
}
.card-div {
  width: 25%;
  height: fit-content;
  /* background: rgb(81, 151, 216); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  align-items: center;
}

.card-div:nth-child(2) {
  margin-top: 0%;
}
.card-div:nth-child(3) {
  margin-top: 10%;
}
.card-div:nth-child(4) {
  margin-top: 20%;
}
.card-div:nth-child(5) {
  margin-top: 30%;
}
.card-div-image {
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.card-div-image img {
  height: 20rem;
  overflow: hidden;
  width: 100%;
  /* cursor: var(".cursor"); */
  cursor: none;
}

.card-div-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 10%;
}

.card-div-image:hover {
  transform: scale(1.1);
}


.swiper-pagination
{
  display: none;
}
.swiper-main-div
{
  z-index: 1;
}

.active-swiper-bg
{
  position: absolute;
  width: 25rem;
  height: 25rem;
  background: rgba(0, 0, 0, 0.123);
  z-index: -1;
}

.swiper
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}