@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Oswald:wght@200;300;400;500;600;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}

/* NAVBAR STYLING STARTS */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 12vh;
  padding: 0px 10px;
  background-color: transparent;
  z-index: 10;
  position: relative;
  transition: all 0.1s ease-in-out;
  background-color: #ffffff;
  box-shadow: 0px 0px 20px rgb(126, 126, 126);
}

a {
  color: rgb(0, 0, 0);
}
.social-icons-atag-facebook {
  background: url("https://img.icons8.com/ios-glyphs/30/000000/facebook.png")
    center/cover no-repeat;
}
.social-icons-atag-linkedin {
  background: url("https://img.icons8.com/ios-glyphs/30/000000/linkedin.png")
    center/cover no-repeat;
}

.nav-links a {
  width: 100%;
  height: 100%;
  /* background: rgb(235, 0, 0); */
}
/* LOGO */
.logo {
  font-size: 32px;
  width: 12rem;
  height: 4rem;
}
.logo img {
  width: 100%;
  height: 100%;
}
/* NAVBAR MENU */
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
  height: 100%;
  position: relative;
}

/* .menu li {
  border-radius: 5px;
  transition: 0.3s ease;
} */

.menu li {
  /* margin: 20px; */
  width: 6rem;
  height: 12vh;
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  justify-content: center;
  /* z-index: 2; */
  transition: all 0.2 ease-in-out;
  border-radius: 12px 12px 0px 0px;
}

.menu li a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: 0.1s ease;
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.2 ease-in-out;
  padding: 0% 2%;
}
.menu li:hover {
  position: relative;
  background: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}
.menu li a:hover {
  color: rgb(255, 255, 255);
}

.social-icons-atag {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
}

.social-icons-atag-facebook {
  background: url("https://img.icons8.com/ios-glyphs/30/000000/facebook.png")
    center/cover no-repeat;
}
.social-icons-atag-linkedin {
  background: url("https://img.icons8.com/ios-glyphs/30/000000/linkedin.png")
    center/cover no-repeat;
}

/*RESPONSIVE NAVBAR MENU STARTS*/
/* CHECKBOX HACK */
input[type="checkbox"] {
  display: none;
}
/*HAMBURGER MENU*/
.hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
}

.ul-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 10%;
}

/* APPLYING MEDIA QUERIES */
@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: teal;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #4c9e9e;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburger {
    display: block;
  }
  .dropdown {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .dropdown li:hover {
    background-color: #4c9e9e;
  }
}

/* .about:hover.underline
{
  transform: translateX(98px);
  display: none;
} */
